! ROFI
rofi.font:              Cantarell Regular 11
rofi.modi:              ssh,window,run,drun
rofi.width:             38
rofi.lines:             7
rofi.columns:           1
rofi.opacity:           100

! "border width"
rofi.bw:                2
rofi.location:          0
rofi.padding:           12
rofi.yoffset:           52
rofi.xoffset:           4
rofi.fixed-num-lines:   true
rofi.sidebar-mode:      true
rofi.terminal:          termite
rofi.ssh-client:        ssh
rofi.run-shell-command: {terminal} -e '{cmd}'

! "margin between rows"
rofi.line-margin:       2

! "separator style (none, dash, solid)"
rofi.separator-style:   none
rofi.hide-scrollbar:    true
rofi.fullscreen:        false
rofi.fake-transparency: true

! "scrolling method. (0: Page, 1: Centered)"
rofi.scroll-method:     1

! State:           'bg',   'fg',   'bgalt','hlbg', 'hlfg'
rofi.color-normal: #081021,#59748f,#081021,#081021,#c7c7c7
rofi.color-urgent: #081021,#cc6666,#081021,#081021,#8fadcc
rofi.color-active: #081021,#8fadcc,#081021,#081021,#c7c7c7
rofi.color-window: #081021,#081021,#081021

!Rofi icons
rofi.display-drun: 
rofi.display-run: 
rofi.display-window: 
rofi.display-ssh: 
rofi.display-combi: 
rofi.combi-modi: ssh,window,run,drun
rofi.monitor: -1

! special
*.foreground:   #c7c7c7
*.background:   #081021
*.cursorColor:  #c7c7c7

! black
*.color0:       #212121
*.color8:       #404040

! red
*.color1:       #cc6666
*.color9:       #de985f

! green
*.color2:       #638f63
*.color10:      #85cc85

! yellow
*.color3:       #8f7542
*.color11:      #f0c674

! blue
*.color4:       #59748f
*.color12:      #8fadcc

! magenta
*.color5:       #85678f
*.color13:      #b093ba

! cyan
*.color6:       #5e8d87
*.color14:      #8abeb7

! white
*.color7:       #787878
*.color15:      #c7c7c7
